{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full sm:h-auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/keenicons/styles.bundle.css' %}">
    <script src="{% static 'assets/js/core.bundle.js' %}"></script>
    <script src="{% static 'assets/vendors/prismjs/prismjs.min.js' %}"></script>
    <link rel="icon" href="https://cdn-images-1.medium.com/v2/resize:fill:152:152/1*ycMNYnfk1wjsJbxEja4OTg.png">
</head>
<body class="flex h-full">
    <div class="flex grow flex-col">
        <header> 
        
        </header>
        {% block content %}

        {% endblock %}
        <footer class="footer">

        </footer>
    </div>
</body>
</html>