{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full sm:h-auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="icon" href="https://cdn-images-1.medium.com/v2/resize:fill:152:152/1*ycMNYnfk1wjsJbxEja4OTg.png">
</head>
<body class="h-full flex items-center justify-center grow container-fixed" style="background-image: url('https://i.imghippo.com/files/iK3343Jk.png');">
    <div class="card w-full">
        <div class="card-body">
            <div class="flex flex-col lg:gap-6">
                <form action="{% url 'addmeals' %}" method="POST">
                    <label class="form-label font-semibold">Breakfast meal</label>
                    <div class="flex items-center flex-wrap lg:flex-nowrap gap-5">
                        <label class="form-label max-w-96">Choose the breakfast and add quantity</label>
                        <select name="breakfast" class="select" required>
                            <option value=""> Choose Breakfast </option>
                            {% for i in bk %}
                            <option value="{{i.id}}"> {{i.breakfastfood}} </option>
                            {% endfor %}
                        </select>
                        <input type="text" class="input" placeholder="Add the quantity" name="quantity" required>
                        <button class="btn btn-primary w-full max-w-24 sm:max-w-[125px] flex justify-center">Add Breakfast</button>
                    </div>
                </form>
                <div class="border-t border-dashed border-gray-200 my-7.5"></div>
                <form action="{% url 'addmeals2' %}" method="POST">
                    <label class="form-label font-semibold">Lunch Meal</label>
                    <div class="flex items-center flex-wrap lg:flex-nowrap gap-5">
                        <label class="form-label max-w-96">Choose the lunch and add quantity</label>
                        <select name="lunch" class="select" required>
                            <option value=""> Choose Lunch </option>
                            {% for i in lk %}
                            <option value="{{i.id}}"> {{i.lunchfood}} </option>
                            {% endfor %}
                        </select>
                        <input class="input" placeholder="add the quantity">
                        <button class="btn btn-primary w-full max-w-24 sm:max-w-[125px] flex justify-center">Add lunch</button>
                    </div>
                </form>
                <div class="border-t border-dashed border-gray-200 my-7.5"></div>
                <form action="{% url 'addmeals3' %}" method="POST">
                    <label class="form-label font-semibold">Dinner Meal</label>
                    <div class="flex items-center flex-wrap lg:flex-nowrap gap-5">
                        <label class="form-label max-w-96">Choose the dinner and add quantity</label>
                        <select class="select" name="dinner" required>
                            <option value=""> Choose Dinner </option>
                            {% for i in dk %}
                            <option value="{{i.dinnerfood}}"> {{i.dinnerfood}} </option>
                            {% endfor %}
                        </select>
                        <input class="input" placeholder="add the quantity">
                        <button class="btn btn-primary w-full max-w-24 sm:max-w-[125px] flex justify-center">Add dinner</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="card-footer justify-end">
            <a href="{% url 'homepage' id=1 %}"><button class="btn btn-sm btn-light">Back to homepage </button></a>
        </div>
    </div>
</body>
</html>