{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="https://cdn-images-1.medium.com/v2/resize:fill:152:152/1*ycMNYnfk1wjsJbxEja4OTg.png">
</head>
<body>
    <div class="card">
        <div class="card-header">
            <h1 class="font-semibold">Track your Meals </h1>
            <button class="btn btn-light btn-xs jutify-end">Track my food</button>
        </div>
        <div class="card-body">
            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 lg:gap-7.5">
                <div class="card">
                    <img class="w-full h-auto" src="https://drvaidyas.com/cdn/shop/articles/Protein_Foods_for_Bodybuilding_540x540.jpg?v=1653452221"> 
                    <div class="flex flex-col gap-2 px-5 py-4.5">
                        <p class="text-lg font-medium text-gray-900 hover:text-primary">20gms of protein consumed</p>
                    </div>
                </div>
                <div class="card">
                    <img class="w-full h-auto" src="https://www.mindpumpmedia.com/hubfs/shutterstock_731206732.png"> 
                </div>
                <div class="card">
                    <img class="w-full h-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNVsl4VkHCu7dm6U3r129l81ZTt5ZLvsXtlwyR7XeX1EmP5hdUKAX_YD8&s=10"> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>