{% load static %}
<!DOCTYPE html>
<html class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/keenicons/styles.bundle.css' %}">
    <script src="{% static 'assets/js/core.bundle.js' %}"></script>
    <link rel="icon" href="https://cdn-images-1.medium.com/v2/resize:fill:152:152/1*ycMNYnfk1wjsJbxEja4OTg.png">
</head>

<body class="flex h-full">
    <div class="flex items-center justify-center grow bg-cover" style="background-image: url('https://i.imghippo.com/files/iK3343Jk.png');">
        <div class="card w-full max-w-[420px] sm:max-w-[340px]">
                <form class="card-body flex flex-col gap-3" method="POST">
                    <div class="text-center">
                        <h1 class="font-semibold text-lg text-gray-800 mb-1">Login your account</h1>
                        <p class="text-2sm text-gray-700 me-1.5">Don't have an Account? <a href="{% url 'signup' %}" class="text-primary">Sign Up</a></p>
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="form-label">Email Address</label>
                        <input class="input" type="email" placeholder="Enter the email address" name="email" required>
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="form-label">Password</label>
                        <input class="input" type="password" placeholder="Enter the password" name="password" required>
                        <label class="text-danger text-2sm">{{ e }}</label>
                    </div>
                    <div>
                        <p class="text-2sm text-gray-700">Forget your password? <a class="text-primary" href="/forgetpassword">Click Here</a> </p>
                    </div>
                    <button class="btn btn-primary flex justify-center">Login</button>
                    <!-- <p class="text-danger text-2sm">{{ e }}</p> -->
                </form>
        </div>
    </div>
</body>


</html>
